
    <div class="nogutter">
        <section class="promo">
            <div class="wrap">
                <div class="promo-text">
                    <div class="promo-title">WHISTLERS FOR HIRE</div>
                 <!--   <p>Umpires for hire</p> -->
                    <p><a class="promo-button"<%= link_to "SIGN UP", new_user_registration_path %> </a> &nbsp;  Learn more</a></p>
                </div><!-- promo-text -->
                <img src="<%=  asset_path 'Hockey_Stick.png' %>" width="400" height="551"  alt="">
            </div><!-- wrap -->
        </section><!-- promo -->

        <section class="simple">
            <div class="wrap">
                <p>It's that exciting time of the year where hockey is up and about yet again! But with the buzz of a new season comes the inevitable and dreaded umpiring bye…</p>

                <p>Fear not! Whether you’re someone who doesn’t want to spend their weekend off getting abuse from a 'know-it-all' for missing a foot or you’re a student who wants to pocket some easy extra cash... This is the site for you!</p>
            </div><!-- wrap -->
        </section><!-- simple -->
            </div><!-- wrap -->
        </div>



