

<% provide(:title, @user.name) %>
<br>


  <div class="row listsize">
      <div class="col s12">
        <div class="card">
            <div class="card-content">
              <h3> 
              <% if @user.image? %>
                <%= image_tag @user.image, class: 'circle' %>
              <% end %>
                <%= @user.name %></h3>
                <br>
                <p><%= @user.email %></p>
                <%="Rating:  #{current_user.rating.to_s}" unless @user.rating == nil %></p>
        
              </div>
            </div>
      </div>
  </div>

