<% provide(:title, "Whistlers") %>
        <div class="promo teal darken-1">
        <section class="container valign-wrapper">
                <div class="row">
                    <div class="col s12 l6">
                        <h1>WHISTLERS FOR HIRE</h1>
                        <p><%= link_to "Sign up", new_user_registration_path, :class => 'waves-effect waves-light btn-large'  %></a> &nbsp;  
                     
                        </p> 
                        

                        </div> 
                 <div class="col s12 l6">
                <img src="<%=  asset_path 'Hockey_Stick.png' %>" class="responsive-img">
                </div>
                </div>
        </section>
    <div>


<script>
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});

          });
    </script>
