@import "bootstrap-sprockets";
@import "bootstrap";

@import "materialize/components/color";
$primary-color: color("teal", "darken-2") !default;
@import 'materialize';
//@import "scaffolds";
@import "listing";
@import "static";
//@import "profile";
@import "modal";

.navbar-brand h2 {
	line-height: 20px;
	color: white;
}

body {
	background-color: #eee;
}

.facebooklogin img{
	max-height: 60px;
}

.forms {
	max-width: 500px;
}

.listsize {
	max-width: 650px;
}

.mdi-content-add {
	position: fixed;
	bottom: 5%;
	right: 5%;
	font-size: 20px;
}