.cardbutton {
	margin-top: -90px;
}

.circle {
	width: 50px;
}



@media #{$medium-and-up} {
    .promo img {
    margin-right: 100px;
    }
}


/***************
  Select Field
***************/
.select-label {
  position: absolute;
}

.select-wrapper {
  position: relative;

  input.select-dropdown {
    position: relative;
    cursor: pointer;
    // color: #444;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $input-border-color;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
  }
  .mdi-navigation-arrow-drop-down {
    color: initial;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 23px;
    &.disabled {
      color: $input-disabled-color;
    }
  }
  & + label {
    position: absolute;
    top: -14px;
    font-size: $label-font-size;
  }
}

select { display: none; }
select.browser-default { display: block; }


// Disabled styles
select:disabled {
  color: rgba(0,0,0,.3);
}
.select-wrapper input.select-dropdown:disabled {
  color: rgba(0,0,0,.3);
  cursor: default;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
  border-bottom: 1px solid rgba(0,0,0,.3);
}
.select-wrapper i {
  color: rgba(0,0,0,.3);
}
.select-dropdown li.disabled {
  color: rgba(0,0,0,.3);
  background-color: transparent;
}

